* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    background: #ca1414;
    color: white;
    padding: 20px 0;
}

header .logo h1 {
    text-align: center;
}
.logo img {
    width: 100px; /* o el tamaño que quieras */
    height: auto;
    display: block;
    margin: 0 auto;
}


nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background: #bc0d0d;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background: #ca1414;
    border-radius: 5px;
}

section {
    padding: 40px;
    text-align: center;
}

section:nth-child(even) {
    background: #ecf0f1;
}

.redes-sociales { /*dar estilo a los logos*/
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.redes-sociales li a svg {
    fill: black;
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.redes-sociales li a:hover svg {
    transform: scale(1.2);
}

.redes-sociales li a:active svg {
    transform: scale(1.4);
}
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

form input, form textarea {
    width: 300px;
    padding: 10px;
}

form button {
    background: #ca1414;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form button:hover {
    background: #ca1414;
}

footer {
    background: #810d0d;
    color: white;
    text-align: center;
    padding: 15px;
}
section img{
    width: 500px;
    height: 250px;
}